h3 .header-line {
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  font-size: 14px;
  color: gray;
}

h4 {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  text-align: left;
  margin-left: 10px;
}