.contact-container {
  display: inline-block;
  width: 40%;
  border: 2px solid gray;
  margin: 10px;
  border-radius: 12px;
  padding: 20px;
  background-color: rgba(50, 50, 125, 0.1);
}

.contact-container-flex {
  text-align: left;
  display: flex;
}

.user-avatar {
  display: flex;
  flex-direction: column;
}

.user-avatar > svg {
  background-color: white;
  border-radius: 40px;
}

.user-actions {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.user-actions > div {
  flex: 1;
}

.user-data {
  margin-left: 10px;
}

.user-data > p:nth-child(1) {
  font-size: 1.3rem;
  margin-left: 5px;
}

.user-data svg {
  width: 25px !important;
}

.favorite {
  color: crimson;
}